

.header{
	background-image: url(/images/header_bg.jpg);
	height: 68px;
}

.l-main-banner {
	margin: 0 auto;
	width: 100%;
	height: 384px;
	background-image: url(/images/bg_thebetaisover.jpg);
	background-position: center;
}