@font-face {
    font-family: 'trajanbold';
    src: url('trajan_bold-webfont.eot');
    src: url('trajan_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('trajan_bold-webfont.woff') format('woff'),
         url('trajan_bold-webfont.ttf') format('truetype'),
         url('trajan_bold-webfont.svg#trajanbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

.trajan-bold {

	font-family: 'trajanbold';
}